<header
  class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black flex items-center justify-between"
>
  <!-- ⬅️ الجزء الشمال -->
  <div class="flex items-center gap-10 px-10">
    <a class="flex gap-4 text-white text-xl border-r-2 border-white pr-6 font-semibold cursor-pointer">

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
</svg>

      <h3> Friends app</h3>

    </a>

    <nav class="flex gap-6 uppercase text-lg text-white">
      <a href="#">Matches</a>
      <a href="#">Lists</a>
      <a href="#">Messages</a>
    </nav>
  </div>

  @if(accountService.currentUser();as user){
    <div class="dropdown dropdown-hover dropdown-end">
  <div tabindex="0" role="button" class="flex items-center gap-3 text-xl text-white cursor-pointer">
    <img src="/user.png" alt="user avatar" class="w-10  rounded-full " />
    <span class="ml-2 text-white">{{user.userName}}</span>
  </div>
  <ul tabindex="-1" class="dropdown-content  menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
    <li><a>Edit profile</a></li>
    <li><a (click)="Logout()">Logout</a></li>
  </ul>
</div>
  }
  @else {

    <!-- ➡️ الجزء اليمين -->
    <div class="flex items-center gap-3">
      <form #loginForm="ngForm" (ngSubmit)="Login()" class="flex items-center gap-3"  >
        <input name="email" [(ngModel)]="creds.email" type="text" placeholder="Email" class="input" />
        <input name="password"  [(ngModel)]="creds.password" type="password" placeholder="Password" class="input" />
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  }
</header>
